
include *.rst
recursive-include docs *
recursive-include docs/_static *
recursive-include examples *.txt *.py
recursive-include watex *.c *.cpp *.h *.pyx *.pxd *.pxi *.tp
recursive-include watex/datasets *.csv *.csv.gz *.rst *.jpg *.txt *.arff.gz *.json.gz *.zip *.pkl *.h5 *.joblib
recursice-include watex/utils *.npy 
include LICENSE
include README.md
include CITATION.cff
include pyproject.toml
include MANIFEST.in
include setup.py
include setup.cfg
include watex/utils/epsg.npy
include .coveragerc

# Include specific files from the 'watex' package
include watex/utils/_openmp_helpers.pxd
include watex/utils/espg.npy
recursive-include watex/etc *.*
include watex/wlog.yml
recursive-include watex/wlogfiles *.txt

# Include .pxd files located in the watex root and subdirectories
global-include watex/*.pxd

# Include 'examples' directory Python scripts and text files
recursive-include examples *.py *.txt

# exclude from sdist
recursive-exclude asv_benchmarks *
recursive-exclude examples *.png 
recursive-exclude benchmarks *
recursive-exclude build_tools *
recursive-exclude maint_tools *
recursive-exclude benchmarks *
recursive-exclude .binder *
recursive-exclude ci *
recursive-exclude data * 
recursive-exclude docs *.jpg *.mp4 *.png 

exclude .readthedocs.yml 
exclude CODE_OF_CONDUCT.md
exclude ISSUE_TEMPLATE.md
exclude venv
exclude watex/datasets/data/h.h5
exclude watex/datasets/data/n.npz 


global-exclude *.py[cod] __pycache__/* *.so *.dylib .coveragerc tests/*
