
graft docs


include LICENSE.md
include README.md
include setup.py
include MANIFEST.in 
include LICENSE.md
include COPYING.LESSER
include README.md
include watex/utils/epsg.npy
include .travis.yml .readthedocs.yml 

exclude .readthedocs.yml 
exclude _demo_user_guide.py
exclude pycsamt_user_guide/*
exclude mpl.rcParams_infos.py 
exclude venv/


global-exclude *.py[cod] __pycache__/* *.so *.dylib .coverage .coverage.* 