#sphinx>=2.4.0
sphinx >=3.5
sphinx_rtd_theme
sphinxcontrib-jsmath 
cython
matplotlib>=3.3.0
# numpy>=1.23.3
numpy
scipy
qtpy
netcdf4
numpydoc >=1.0.0
Numexpr >= 2.6.2
blosc >= 1.4.1
pytest
flake8
flask
pyyaml
pyproj>=1.9.6
# pandas >=1.1.4
pandas
python-coveralls
# sklearn >=1.1 
sklearn 
joblib
seaborn
tqdm
pycsamt 
autoapi 
xgboost
click 
missingno
pandas_profiling 
pyjanitor 
openpyxl
#threadpoolctl >= 2.0.0
#pytables
h5py >=3.2.0
nbsphinx 
myst_nb
python-latex

