/**** Overriding theme defaults ****/

html[data-theme=light]{
  --pst-color-primary: rgb(13, 124, 163);
  --pst-color-secondary: rgb(107, 161, 174);
  --pst-color-link: rgb(74, 105, 145);
  --pst-color-inline-code: rgb(96, 141, 130);
}

:root {
    --pst-font-size-h1: 38px;
    --pst-font-size-h2: 32px;
    --pst-font-size-h3: 27px;
    --pst-font-size-h4: 22px;
    --pst-font-size-h5: 18px;
    --pst-font-size-h6: 15px;
}
/*
.wy-nav-content {
    max-width: 100% !important;
}
*/

/* Syntax highlighting */
/* string literals */
html[data-theme=light] .highlight .s2 {
    color: rgb(74, 105, 145);
    font-weight: normal;
	max-width: 100%;
}
/* number literals */
html[data-theme=light] .highlight .mi {
  color: rgb(136, 97, 153);
  font-weight: normal;
  max-width: 100%;
}
html[data-theme=light] .highlight .mf {
  color: rgb(136, 97, 153);
  font-weight: normal;
  max-width: 100%;
}
/* operators */
html[data-theme=light] .highlight .o {
  color: rgb(219, 164, 117);
  font-weight: bold;
  max-width: 100%;
}
/* builtins */
html[data-theme=light] .highlight .kc {
  color: rgb(107, 161, 174);
  font-weight: bold;
  max-width: 100%;
}

/* Use full page width without sidebars */
.bd-content {
    flex-grow: 1;
    max-width: 100%;
}

    /* Function signature customization */
dt {
  font-weight: 500;
  color: rgb(52, 54, 99);
}

span.default_value {
  color: rgb(124, 141, 138);
}

/* highlight over function signature after link */
dt:target, span.highlighted {
  background-color: #fdebba;
}

/* *********************************************************************** */
/* --- Badges for categorizing release notes --- */

.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  /* font-weight: bold; */
  line-height: 13px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  /* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); */
  background-color: #999999;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  opacity: 70%;
}
.badge-api {
  background-color: #c44e52;
}
.badge-defaults {
  background-color: #dd8452;
}
.badge-docs {
  background-color: #8172b3;
}
.badge-feature {
  background-color: #55a868;
}
.badge-enhancement {
  background-color: #4c72b0;
}
.badge-fix {
    background-color: #ccb974;
}
.badge-build {
    background-color: #937860;
}

/* Make each footer item in-line so they stack horizontally instead of vertically */
/*.footer-item {
    display: inline-block;
}*/
/* copy button */
div.highlight:hover span.copybutton {
  background-color: #3F556B;
  color: white;
}

div.highlight:hover span.copybutton:hover {
    background-color: #20252B;
}

div.body img {
    max-width: 100%;
    height: unset!important; /* Needed because sphinx sets the height */
}

div.body dd > p {
    hyphens: none;
}

img.align-center, figure.align-center,
.figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  text-align: center;
}

img.align-right, figure.align-right,
.figure.align-right, object.align-right {
  clear: right;
  float: right;
  margin-left: 1em;
}

a.brackets::after, span.brackets > a::after {
  content: "]";
}

a.brackets::before, span.brackets > a::before {
    content: "[";
}

/* Taken from scikit-lean: https://github.com/scikit-learn/scikit-learn/blob/main/doc/themes/scikit-learn-modern/static/css/theme.css*/

/* Anchor links */

a.headerlink {
  color: #c60f0f;
  font-size: 0.8em;
  padding: 0 4px 0 4px;
  text-decoration: none;
  visibility: hidden;
}

a.headerlink:hover {
  background-color: #c60f0f;
  color: white;
}

p {
  word-break: break-word;
  hyphens: auto;
}

input:focus {
  outline: none;
}

code {
  color: #222;
  background-color: #ecf0f3;
  border-radius: 0.2rem;
  padding: 0.15rem;
  word-break: normal;
}

nav {
  z-index: 3;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
  background-color: transparent;
}

h4 .section-number, h5 .section-number, h6 .section-number {
  display: none;
}

h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink,
h5:hover a.headerlink,
h6:hover a.headerlink,
dt:hover a.headerlink {
  visibility: visible;
}

strong {
  font-weight: bold;
}

a code {
  color: inherit;
}

a code {
  background-color: transparent;
  font-weight: bold;
  color: #2878A2;
  border-radius: 0;
  padding: 0;
  white-space: nowrap;
}

img {
   max-width: 100%;
}

span.highlighted {
    background-color: #fbe54e;
}

div.highlight {
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

div.highlight pre {
  padding: 0.2rem 0.5rem;
  margin-bottom: 0;
  line-height: 1.2rem;
}

div.highlight a {
  text-decoration: underline;
}

.versionmodified {
  font-style: italic;
}

/* longtables */

table.longtable p {
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    line-height: 1.1em;
    margin-bottom: 0;
}

table.longtable td, table.longtable th {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-right: 0.5rem;
  padding-top: 1.1px; 
  padding-bottom: 1.1px; 
  white-space:nowrap;
}

table.longtable tr.row-odd {
  background-color: #F0F7FA;
}

/* copybutton and gallery*/
.copybutton {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid rgb(221, 221, 221);
  color: rgb(221, 221, 221);
  font-family: monospace;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

div.highlight:hover span.copybutton::after {
  background: #3F556B;
  border-radius: 0.25rem;
  color: white;
  content: attr(title);
  padding: 0.25rem;
  position: absolute;
  z-index: 98;
  width: 100px;
  font-size: 0.7rem;
  top: 0;
  right: 0;
}

/* world */

img.avatar {
  width: 100%;
}

/* table */
table.align-default {
  margin-left: auto;
  margin-right: auto;
}

table.docutils tr:nth-child(odd) {
  background-color: #F0F7FA;
}

table.docutils tr {
  border-style: solid none solid none;
  border-width: 1px 0;
  border-color: #ddd;
}

table.docutils td, table.docutils th {
  padding: 0.125rem 0.5rem 0.125rem 0.25rem;
}

table.docutils {
  margin-bottom: 1rem;
  line-height: 1rem;
  max-width: 100%;
  display: block;
  overflow-x: scroll;
}

table.docutils p {
  margin-bottom: 0;
}

table.docutils p {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: initial;
}

/* gallery */

div.sphx-glr-thumbcontainer {
  min-height: 250px;
  font-size: 0.9rem;
}

.sphx-glr-example-title > :target::before {
  display: block;
  content: "";
  margin-top: -150px;
  height: 150px;
  visibility: hidden;
}

.sphx-glr-script-out .highlight pre {
  padding: 1ex;
}

.sphx-glr-script-out div.highlight {
  padding: 0;
}


@media screen and (min-width: 1540px) {
  .sphx-glr-download-link-note {
    position: absolute;
    position: absolute;
    left: 98%;
    width: 20ex;
  }
}
/* Installation quickstart */
/* This quickstart installation is a hack of the awesome
   https://spacy.io/usage/#quickstart page.
   See the original javascript implementation
   https://github.com/ines/quickstart */

/* style input radio and checkbox */

div.install > input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  opacity: 0;
}

/* Style the button */
div.install > label {
  display: inline-block;
  margin-top: 12px;
  padding: 5px 11px;
  background-color: #fff3cd;
  border: none;
  border-radius: 3px;
  color: black;
}

div.install > label:hover {
  cursor: pointer;
}

/* Style the button when the checkbox is checked */
div.install > input:checked + label {
  background-color: #ff9c34;
  color: white;
}

/* Hide expandable content by default */
.sk-expandable {
  display: none;
}

div.highlight span.sk-expandable:before {
  content: "$ ";
}

/* Show hidden content when the checkbox is checked */
/* for conda */
#quickstart-conda:checked  ~* [data-packager="conda"] {
  display: block;
}

#quickstart-conda:checked ~ #quickstart-venv ~ label[for="quickstart-venv"] {
  display: none;
}

/* Pandas dataframe css */
/* Taken from: https://github.com/spatialaudio/nbsphinx/blob/fb3ba670fc1ba5f54d4c487573dbc1b4ecf7e9ff/src/nbsphinx.py#L587-L619 */
/* FIXME: to be removed when sphinx-gallery >= 5.0 will be released */

table.dataframe {
  border: none !important;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: transparent;
  color: black;
  font-size: 12px;
  table-layout: fixed;
}
table.dataframe thead {
  border-bottom: 1px solid black;
  vertical-align: bottom;
}
table.dataframe tr,
table.dataframe th,
table.dataframe td {
  text-align: right;
  vertical-align: middle;
  padding: 0.5em 0.5em;
  line-height: normal;
  white-space: normal;
  max-width: none;
  border: none;
}
table.dataframe th {
  font-weight: bold;
}
table.dataframe tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
table.dataframe tbody tr:hover {
  background: rgba(66, 165, 245, 0.2);
}

