# --find-links https://pypi.anaconda.org/scipy-wheels-nightly/simple/watex
# --pre
scikit-learn
matplotlib
pandas
seaborn
sphinx-gallery
numpy
scipy
pyyaml
autoapi
pycsamt
pyproj
joblib
tqdm
xgboost
missingno
pyjanitor 
openpyxl
h5py
tables
pillow
tables
mlxtend 
yellowbrick
plotly
ipywidgets
pandas-profiling
